@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 255, 255, 255; /* White background */
  --background-end-rgb: 255, 255, 255; /* White background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text */
    --background-start-rgb: 0, 0, 0; /* Black background */
    --background-end-rgb: 0, 0, 0; /* Black background */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .logo-graphic > * {
    fill: transparent;
    transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  .logo.active > .logo-graphic > * {
    @apply fill-logo-light dark:fill-logo-dark;
  }
}
